* {
   box-sizing: border-box;
}
body {
   font-family: 'Mulish', sans-serif;
}
#wrapper {
   position: relative;
   max-width: 100%;
   background: #323233;
}
.container {
   max-width: 1280px;
   padding: 0 20px;
   margin: 0 auto;
   /* overflow: hidden; */
}
img {
   max-width: 100%;
   height: auto;
   vertical-align: top;
}
.f_line {
   background: #292828;
}
.f_element {
   /* position: relative; */
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.5px;
   text-transform: uppercase;
   margin: 0 -25px;
   padding: 16px 0;
   overflow: hidden;
   text-align: center;
}
.f_element ul {
   display: inline-block;
}
.f_element li {
   display: inline-block;
   padding: 21px 25px 0;
}
.f_one {
   float: left;
}
.f_two {
   float: right;
}
.f_element a {
   text-decoration: none;
   color: #FFFFFF;
}
.button {
   padding: 13px 28px;
   background: #FF6B17;
   border-radius: 2px;
}
.m_lin1 {
   position: relative;
   max-width: 100%;
   padding: 110px 0 209px;
   overflow: hidden;
   z-index: 1;
}
.m_lin1 img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   object-fit: cover;
}
.texp_line1 {
   margin: 0 auto;
   max-width: 1006px;
   color: #FFFFFF;
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.5px;
   overflow: hidden;
}
h1 {
   padding-bottom: 49px;
   font-weight: 800;
   font-size: 36px;
   line-height: 45px;
   text-align: center;

}
h1 span {
   color: #FF6B17;
}
.drop>a {
   text-decoration: none;
   color: #FFFFFF;
}
.drop_one {
   padding-bottom: 2px;
   margin-right: 22px;
   border-bottom: 2px solid #FFFFFF;
   font-weight: 700;
}
.drop_two {
   font-weight: 600;
}
.inp {
   padding: 22px 0px;

}
.inp>div {
   display: inline-block;
}
.inp>div:first-child {
   padding: 17px 15px;
   background: #FFFFFF;
}
.date {
   padding: 17px 15px;
   background: #FFFFFF;
}
.m_btn {
   text-decoration: none;
   padding: 18px 48px;
   background: #FF6B17;
   border-radius: 2px;
   color: #FFFFFF;
   font-weight: 700;
   text-transform: uppercase;
}
.m_line2_text {
   color: #FFFFFF;
   text-align: center;
}
.m_line2_text a {
   display: inline-block;
   text-decoration: none;
}
h2 {
   font-weight: 600;
   font-size: 30px;
   line-height: 38px;
   letter-spacing: 0.58px;
}
h2 span {
   color: #FF6B17;
}
/* .text_line2 {
   padding: 40px 0;
   float: left;
}
.text_line2>li {
   display: inline-block;
}
.text_line2 a {
   display: block;
   padding: 17px 14px;
   text-decoration: none;
   font-weight: 400;
   font-size: 13px;
   line-height: 16px;
   color: #888888;
   background: #FFFFFF;
} */